
file_recordV3/__pycache__/main.cpython-312.pyc
file_recordV3/users.csv
Garticphone arka plan düzeltilmiş.png
file_recordV3/users.csv
inventory.csv
file_recordV3/users.csv
file_recordV3/users.csv
*.csv
*.csv
